h1 {
    font-family: roboto condensed;
    }

h2 {
    background-color: skyblue;
    border-left: 4px solid black;
    margin-left: 3px;
    padding-left: 12px;
}
p {
    font-size: 18px;
    font-family: roboto condensed;
}
h3 {
    font-size: 24px;
    font-family: roboto condensed;
    font-style: italic;
}

#rem {
    position: absolute;
    top: 80px;
    left: 680px;
    padding-right: 20px;
    width: 400px;
    font-size: 100%;
    font-style: italic;
    color: black;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.70);
}


